@font-face {
  font-family: "MuseoSansCyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/museosanscyrl-500.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-500.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/museosanscyrl-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/museosanscyrl-500.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/museosanscyrl-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/museosanscyrl-500.svg#museosanscyrl-500") format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/museosanscyrl-700.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-700.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/museosanscyrl-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/museosanscyrl-700.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/museosanscyrl-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/museosanscyrl-700.svg#museosanscyrl-500") format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/museosanscyrl-900.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-900.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/museosanscyrl-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/museosanscyrl-900.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/museosanscyrl-900.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/museosanscyrl-900.svg#museosanscyrl-500") format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/roboto_regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/roboto_regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/roboto_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto_regular.svg#roboto_regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/roboto_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/roboto_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto_bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/roboto_bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto_bold.svg#roboto_bold")
      format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto_black.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/roboto_black.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/roboto_black.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto_black.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/roboto_black.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto_black.svg#roboto_black")
      format("svg"); /* Chrome < 4, Legacy iOS */
  font-display: swap;
}
