%museosans-500 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
}
%museosans-700 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 700;
}
%museosans-900 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 900;
}
%museosans-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%museosans-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
%museosans-900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
