%museosans-500 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
}
%museosans-700 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 700;
}
%museosans-900 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 900;
}
%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
%roboto-900 {
  font-family: "Roboto", "Times";
  font-weight: 900;
}

$colorAccent: #cfa55b;
$colorDefault: #424242;
